h1{
    background-color: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center
}

p{
    font-family: cursive;
}

.principal{
    display: flex;
}

.contenedor1{
    color: red;
    height: 500px;
    width: 500px;
}

.contenedor2{
    color: blue;
    height: 500px;
    width: 500px;
}

.imagen1{
    font-size: smaller;
}

.imagen2{
    font-size: smaller;
}